<div class="jumbo">
	<h2>About Us</h2>
	<p>BookingSync is a distributed startup at the center of a constantly evolving vacation rental industry. But we are more than merely a vacation rental solution for hosts and agencies, we are also a platform for hundreds of applications and developers.
	As a company we hold a strong commitment to charity: a share of our profits will go to charitable works with humanitarian, social and ecological aims.</p>
</div>